@media (max-width: 1170px) {
  .success__cards {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .success__card {
    margin-bottom: 30px;
  }

  .portfolio__content {
    justify-content: center;
  }
}

@media (max-width: 1160px) {

  .about,
  .skills,
  .services,
  .portfolio,
  .reviews,
  .success,
  .contacts {
    padding: 70px 0 70px;
  }

  .skills__inner {
    max-width: 1170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .skills__img {
    margin-bottom: 40px;
    width: 315px;
    height: 315px;
  }

  .skills__bar {
    max-width: 515px;
  }

  .skills__bar::after {
    max-width: 410px;
  }

  .skills__bar--m {
    max-width: 515px;
  }

  .skills__bar--s::after {
    max-width: 250px;
  }

  .skills__bar--m::after {
    max-width: 325px;
  }

  .skills__progress:not(:last-child) {
    margin-bottom: 40px;
  }


  .services__inner {
    display: block;
  }

  .services__card {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .reviews__inner {
    display: block;
  }

  .reviews__card {
    margin: auto;
    margin-bottom: 70px;
  }

  .reviews__video {
    display: block;
    margin: auto;
  }

  .contacts__wrapper {
    display: block;
  }

  .contacts__social {
    margin-bottom: 30px;
  }
}

@media (max-width: 880px) {
  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000;
    display: block;
    text-align: center;
    transform: translateY(-200%);
    transition: all 0.5s;
  }

  ul.menu__list {
    padding: 140px 0 15px;
  }

  .menu__item+.menu__item {
    margin-left: 0;
  }

  .menu__link {
    display: block;
    padding: 15px 0;
  }

  .logo {
    position: relative;
    z-index: 2;
  }

  .menu__btn {
    display: block;
    padding: 0;
    position: relative;
    z-index: 2;
  }

  .header.header--active .menu__list {
    transform: translateY(0%);
  }

  .header {
    align-items: center;
  }

  .hero__content-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 100px;
    max-height: 300px;
  }

  .hero__content-text {
    font-weight: 700;
    font-size: 80px;
    line-height: 70px;
  }

  .title {
    font-size: 40px;
    line-height: 55px;
    display: inline-block;
    position: relative;
  }

  .about__title,
  .skills__title,
  .services__title,
  .portfolio__box,
  .reviews__box,
  .contacts__title {
    margin-bottom: 40px;
  }

  .about__text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}

@media (max-width: 780px) {
  .portfolio__filter {
    margin-bottom: 40px;
  }

  .portfolio__btn {
    font-size: 20px;
    line-height: 25px;
  }

  .portfolio__img {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .portfolio__filter {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .portfolio__btn {
    margin-bottom: 20px;
  }

  .portfolio__content {
    margin-bottom: 0px;
  }

  .portfolio__img {
    max-height: 280px;
  }

  .portfolio__btn:not(:last-child) {
    margin-bottom: 20px;
  }
}


@media (max-width: 630px) {
  .skills__bar {
    max-width: 445px;
  }

  .skills__bar::after {
    max-width: 365px;
  }

  .skills__bar--m::after {
    max-width: 300px;
  }

  .skills__bar--s::after {
    max-width: 200px;
  }

  .skills__progress:not(:last-child) {
    margin-bottom: 40px;
  }

  .reviews__video {
    display: none;
  }

}

@media (max-width: 580px) {
  .hero__content-title {
    font-size: 30px;
    line-height: 80px;
  }

  .hero__content-text {
    font-size: 65px;
    line-height: 60px;
  }

  .reviews__img {
    width: 100px;
    height: 100px;
  }

  .success__card {
    max-width: 100%;
  }

  .card__number {
    font-size: 38px;
    line-height: 35px;
  }

  .card__text {
    font-size: 16px;
    line-height: 20px;
  }

  .input__info {
    display: block;
  }

  .form input {
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) {
  .skills__bar {
    max-width: 380px;
  }

  .skills__bar::after {
    max-width: 300px;
  }

  .skills__bar--m::after {
    max-width: 240px;
  }

  .skills__bar--s::after {
    max-width: 160px;
  }
}

@media (max-width: 480px) {

  .skills__text {
    max-width: 30px;
  }

  .skills__bar {
    max-width: 240px;
  }

  .skills__bar::after {
    max-width: 180px;
  }

  .skills__bar--m::after {
    max-width: 120px;
  }

  .skills__bar--s::after {
    max-width: 60px;
  }

  .skills__progress:not(:last-child) {
    margin-bottom: 20px;
  }

  .skills__img {
    width: 230px;
    height: 230px;
  }

  .skills__text {
    font-size: 16px;
  }

  .skills__bar {
    max-width: 310px;
  }

  .skills__bar::after {
    max-width: 240px;
  }

  .skills__bar--m::after {
    max-width: 180px;
  }

  .skills__bar--s::after {
    max-width: 100px;
  }

  .skills__progress:not(:last-child) {
    margin-bottom: 20px;
  }

  .skills__img {
    width: 275px;
    height: 275px;
  }

  .title::after {
    display: none;
  }
}

@media (max-width: 460px) {
  .hero__content-title {
    font-size: 20px;
    line-height: 55px;
  }

  .hero__content-text {
    font-size: 50px;
    line-height: 45px;
  }
}

@media (max-width: 360px) {
  .hero__content-title {
    font-size: 18px;
    line-height: 45px;
  }

  .hero__content-text {
    font-size: 40px;
    line-height: 55px;
  }

  .reviews__title {
    line-height: 40px;
  }

  .reviews__name {
    font-size: 20px;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 28px;
  }
}